# Xcode
.DS_Store
xcuserdata/
*.xcworkspace
*.xcuserstate

# Derived Data
DerivedData/

# Build
build/
*.app
*.ipa
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.lock

# Archives
*.xcarchive

# Environment Files
.env

# Other
*.orig
*.swp
*.swo
*.swn
